<h1 align="center"> Listes des bonobos</h1>


<table width="40%" border="2">
	<tr bgcolor="#95B9C7">
		<th> username</th>
		<th> age (an(s))</th>
		<th> famille</th>
		<th> race</th>
		<th> nourriture</th>
	</tr>	

{% for item in result %}
 
 <tr bgcolor="silver">
  	<td>{{item.username}}</td> 
 	<td>{{item.age}} </td>
 	<td>{{item.famille}}</td> 
 	<td>{{item.race}} </td>
 	<td>{{item.nourriture}} </td>
</tr>
{% endfor %}
</table>
</br><input type="button" name="valider" 
       value="Valider les modifications" onclick="#" 
       style="background-color:#C2DFFF" 
       style="color:white; font-weight:bold"onclick>